################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FI.WebAtividadeEntrevista/v15/Server/sqlite3
